.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
dashboard/*.sqlite
dashboard/*.sqlite-shm
dashboard/*.sqlite-wal
tests/spelling.Rout.save
tests/local-files
Update_package.R
test_data.rds
/doc/
/Meta/
docs
.positai
